v1_19.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 sp2 (x64) (http://www.altova.com) by Barbara Fernanda da Silva (J4S) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
	<xs:simpleType name="versao">
		<xs:annotation>
			<xs:documentation>Versão atual do esquema.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="1\.19"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="data">
		<xs:annotation>
			<xs:documentation>Tipo data AAAA-MM-DD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="(((20(([02468][048])|([13579][26]))-02-29))|([12][09][0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="data_hora">
		<xs:annotation>
			<xs:documentation>Data e Hora, formato UTC (AAAA-MM-DDThh:mm:ssTZD, onde TZD = +hh:mm ou -hh:mm). Ex.: 2019-08-09T23:49:58+02:00</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="(((20(([02468][048])|([13579][26]))-02-29))|([12][09][0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))T(20|21|22|23|[0-1]\d):[0-5]\d:[0-5]\d([\-,\+](0[0-9]|10|11):00|([\+](12):00))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uf">
		<xs:annotation>
			<xs:documentation>Lista de unidades federativas</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC"/>
			<xs:enumeration value="AL"/>
			<xs:enumeration value="AM"/>
			<xs:enumeration value="AP"/>
			<xs:enumeration value="BA"/>
			<xs:enumeration value="CE"/>
			<xs:enumeration value="DF"/>
			<xs:enumeration value="ES"/>
			<xs:enumeration value="GO"/>
			<xs:enumeration value="MA"/>
			<xs:enumeration value="MG"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="PA"/>
			<xs:enumeration value="PB"/>
			<xs:enumeration value="PE"/>
			<xs:enumeration value="PI"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="RJ"/>
			<xs:enumeration value="RN"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="RR"/>
			<xs:enumeration value="RS"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="SP"/>
			<xs:enumeration value="TO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipo_moeda">
		<xs:annotation>
			<xs:documentation>Tipo da moeda</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Real Brasileiro (R$)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipo_endosso">
		<xs:annotation>
			<xs:documentation>Tipo do endosso</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>Mandato</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="T">
				<xs:annotation>
					<xs:documentation>Translativo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation>Sem endosso</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipo_protesto">
		<xs:annotation>
			<xs:documentation>Tipo de protesto</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation>Comum</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="F">
				<xs:annotation>
					<xs:documentation>Falimentar</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="motivo_protesto">
		<xs:annotation>
			<xs:documentation>Motivo do protesto</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Falta de pagamento</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Falta de aceite</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Falta de devolucao</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="especie_titulo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CBI">
				<xs:annotation>
					<xs:documentation>Cédula de Crédito Bancário por Indicação</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CC">
				<xs:annotation>
					<xs:documentation>Contrato de Câmbio</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CCB">
				<xs:annotation>
					<xs:documentation>Cédula de Crédito Bancário</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CCC">
				<xs:annotation>
					<xs:documentation>Cédula de Crédito Comercial</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CCE">
				<xs:annotation>
					<xs:documentation>Cédula de Crédito à Exportação</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CCI">
				<xs:annotation>
					<xs:documentation>Cédula de Crédito Industrial</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CCJ">
				<xs:annotation>
					<xs:documentation>Cértidão de Crédito Judicial</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CCO">
				<xs:annotation>
					<xs:documentation>Certidão de Crédito</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CCR">
				<xs:annotation>
					<xs:documentation>Cédula de Crédito Rural</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CD">
				<xs:annotation>
					<xs:documentation>Confissão de Dívida – Apenas para fins de falência (uma declaração do devedor)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CDA">
				<xs:annotation>
					<xs:documentation>Certidão da Dívida Ativa</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CDI">
				<xs:annotation>
					<xs:documentation>Certidao de Divida por Indicação</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CDJ">
				<xs:annotation>
					<xs:documentation>Certidao de Dívida Judicial</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CH">
				<xs:annotation>
					<xs:documentation>Cheque</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHP">
				<xs:annotation>
					<xs:documentation>Cédula Hipotecária</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CJV">
				<xs:annotation>
					<xs:documentation>Conta Judicialmente Verificada – Verificação de livro de empresa – protesto de um processo judicial – falência</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CM">
				<xs:annotation>
					<xs:documentation>Contrato de Mútuo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CPH">
				<xs:annotation>
					<xs:documentation>Cédula Rural Pignoratícia Hipotecária</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CPS">
				<xs:annotation>
					<xs:documentation>Conta de Prestação de Serviços – Profissional liberal – declaração do profissional, documentos comprobatórios e notificação do devedor, pelo Cartório de Registro de Títulos e Documentos</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CRH">
				<xs:annotation>
					<xs:documentation> Cédula Rural Hipotecária</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CRP">
				<xs:annotation>
					<xs:documentation>Cédula Rural Pignoratícia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CT">
				<xs:annotation>
					<xs:documentation>Espécie de Contrato</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CTH">
				<xs:annotation>
					<xs:documentation>Contrato de Honorários</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DM">
				<xs:annotation>
					<xs:documentation>Duplicata de Venda Mercantil</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DMI">
				<xs:annotation>
					<xs:documentation>Duplicata de Venda Mercantil por Indicação</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DR">
				<xs:annotation>
					<xs:documentation>Duplicata Rural</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DRI">
				<xs:annotation>
					<xs:documentation>Duplicata Rural por Indicação</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DS">
				<xs:annotation>
					<xs:documentation>Duplicata de Prestação de Serviços – Original</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DSI">
				<xs:annotation>
					<xs:documentation>Duplicata de Prestação de Serviços por Indicação – Comprovante de prestação dos serviços</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DV">
				<xs:annotation>
					<xs:documentation>Diversos - Quando não enquadrar na relação acima.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EC">
				<xs:annotation>
					<xs:documentation>Encargos Condominiais</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LC">
				<xs:annotation>
					<xs:documentation>Letra de Câmbio</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NCC">
				<xs:annotation>
					<xs:documentation> Nota de Crédito Comercial</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NCE">
				<xs:annotation>
					<xs:documentation>Nota de Crédito à Exportação</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NCI">
				<xs:annotation>
					<xs:documentation>Nota de Crédito Industrial</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NCR">
				<xs:annotation>
					<xs:documentation> Nota de Crédito Rural</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NP">
				<xs:annotation>
					<xs:documentation>Nota Promissória</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NPR">
				<xs:annotation>
					<xs:documentation>Nota Promissória Rural</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RA">
				<xs:annotation>
					<xs:documentation>Recibo de Aluguel – Só para pessoa jurídica (contrato aluguel e recibo)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SJ">
				<xs:annotation>
					<xs:documentation>Sentença Judicial</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TA">
				<xs:annotation>
					<xs:documentation>Termo de Acordo – Ex. Ação trabalhista</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TM">
				<xs:annotation>
					<xs:documentation>Triplicata de Venda Mercantil</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TS">
				<xs:annotation>
					<xs:documentation>Triplicata de Prestação de Serviços</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="W">
				<xs:annotation>
					<xs:documentation>Warrant</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAC">
				<xs:annotation>
					<xs:documentation>Contrato de Adesao ao Cred Direto</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CACI">
				<xs:annotation>
					<xs:documentation>Contrato de Abertura de Cred Indicacao</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CADC">
				<xs:annotation>
					<xs:documentation>Contrato de Adesao Cred Direto Caixa </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAM">
				<xs:annotation>
					<xs:documentation>Contrato de Arrendamento Mercantil</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CCJ">
				<xs:annotation>
					<xs:documentation>Carta de Credito Judicial</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CDT">
				<xs:annotation>
					<xs:documentation>Certidao de Debito do Tribunal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CF">
				<xs:annotation>
					<xs:documentation>Contrato de Financiamento</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CL">
				<xs:annotation>
					<xs:documentation>Contrato de Leasing</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CLC">
				<xs:annotation>
					<xs:documentation>Contrato de Locacao</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CRC">
				<xs:annotation>
					<xs:documentation>Contrato de Cred Rotativo de Cheque</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CRJ">
				<xs:annotation>
					<xs:documentation>Certidao de Credito Judicial</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CRPH">
				<xs:annotation>
					<xs:documentation>Cedula Rural Pignorat Hipotecaria</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DD">
				<xs:annotation>
					<xs:documentation>Documento de Divida</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ED">
				<xs:annotation>
					<xs:documentation>Encargos Condominais</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FPS">
				<xs:annotation>
					<xs:documentation>Fatura de Prestacao de Servico</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FVM">
				<xs:annotation>
					<xs:documentation>Fatura de Venda Mercantil</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ND">
				<xs:annotation>
					<xs:documentation>Nota de Debito</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OD">
				<xs:annotation>
					<xs:documentation>Ordem de Servico</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RFED">
				<xs:annotation>
					<xs:documentation>Warrant</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RPS">
				<xs:annotation>
					<xs:documentation>Recibo de Prest Servico</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RPSI">
				<xs:annotation>
					<xs:documentation>Recibo de Prest Servico Indicacao</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SJ">
				<xs:annotation>
					<xs:documentation>Sentenca Judicial</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAJ">
				<xs:annotation>
					<xs:documentation>Termo de Acordo Judicial</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TJD">
				<xs:annotation>
					<xs:documentation>Titulo Executivo Judicial Definitivo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TS">
				<xs:annotation>
					<xs:documentation>Triplicata de Prest Servico</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZZZ">
				<xs:annotation>
					<xs:documentation>Outros</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ocorrencia">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Pago</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Protestado</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Retirado</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>Sustado / Suspenso</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>Devolvido por irregularidade</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="98">
				<xs:annotation>
					<xs:documentation>Retirada por falta de tempo hábil para repasse</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation>Outros</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>Protesto Canelado</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="X">
				<xs:annotation>
					<xs:documentation>Anuência Recebida</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="W">
				<xs:annotation>
					<xs:documentation>Averbação / correção de título já protestado</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation>Outras ocorrências</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="anuencia_origem">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Arquivo da CRA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Cenprot</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>documento recebido no cartório</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="irregularidade_codigo">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Data da apresentação inferior à data de vencimento</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Falta de comprovante da prestação de serviço</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Nome do pagador incompleto/incorreto</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>Nome do beneficiário incompleto/incorreto</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>Nome do sacador incompleto/incorreto</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation>Endereço do pagador insuficiente</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation>CNPJ/CPF do pagador inválido/incorreto</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation>CNPJ/CPF incompatível c/ o nome do pagador/sacador/avalista</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation>CNPJ/CPF do pagador incompatível com o tipo de documento</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>CNPJ/CPF do sacador incompatível com a espécie</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation>Título aceito sem a assinatura do pagador</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation>Título aceito rasurado ou rasgado</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation>Título aceito – falta título (ag ced: enviar)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation>CEP incorreto</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="15">
				<xs:annotation>
					<xs:documentation>Praça de pagamento incompatível com endereço</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="16">
				<xs:annotation>
					<xs:documentation>Falta número do título</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="17">
				<xs:annotation>
					<xs:documentation>Título sem endosso do beneficiário ou irregular</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="18">
				<xs:annotation>
					<xs:documentation>Falta data de emissão do título</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="19">
				<xs:annotation>
					<xs:documentation>Título aceito: valor por extenso diferente do valor por numérico</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="20">
				<xs:annotation>
					<xs:documentation>Data de emissão posterior ao vencimento</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="21">
				<xs:annotation>
					<xs:documentation>Espécie inválida para protesto</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="22">
				<xs:annotation>
					<xs:documentation>CEP do pagador incompatível com a praça de protesto</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="23">
				<xs:annotation>
					<xs:documentation>Falta espécie do título</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="24">
				<xs:annotation>
					<xs:documentation>Saldo maior que o valor do título</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="25">
				<xs:annotation>
					<xs:documentation>Tipo de endosso inválido</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="26">
				<xs:annotation>
					<xs:documentation>Devolvido por ordem judicial</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="27">
				<xs:annotation>
					<xs:documentation>Dados do título não conferem com disquete</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="28">
				<xs:annotation>
					<xs:documentation>Pagador e Sacador/Avalista são a mesma pessoa</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="29">
				<xs:annotation>
					<xs:documentation>Corrigir a espécie do título</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="30">
				<xs:annotation>
					<xs:documentation>Aguardar um dia útil após o vencimento para protestar</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="31">
				<xs:annotation>
					<xs:documentation>Data do vencimento rasurada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="32">
				<xs:annotation>
					<xs:documentation>Vencimento – extenso não confere com número</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="33">
				<xs:annotation>
					<xs:documentation>Falta data de vencimento no título</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="34">
				<xs:annotation>
					<xs:documentation>DM/DMI sem comprovante autenticado ou declaração</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="35">
				<xs:annotation>
					<xs:documentation>Comprovante ilegível para conferência e microfilmagem</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="36">
				<xs:annotation>
					<xs:documentation>Nome solicitado não confere com emitente ou pagador</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="37">
				<xs:annotation>
					<xs:documentation>Confirmar se são 2 emitentes. Se sim, indicar os dados dos 2</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="38">
				<xs:annotation>
					<xs:documentation>Endereço do pagador igual ao do sacador ou do portador</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="39">
				<xs:annotation>
					<xs:documentation>Endereço do apresentante incompleto ou não informado</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="40">
				<xs:annotation>
					<xs:documentation>Rua / Número inexistente no endereço</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="41">
				<xs:annotation>
					<xs:documentation>Informar a qualidade do endosso (M ou T)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="42">
				<xs:annotation>
					<xs:documentation>Falta endosso do favorecido para o apresentante</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="43">
				<xs:annotation>
					<xs:documentation>Data da emissão rasurada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="44">
				<xs:annotation>
					<xs:documentation>Protesto de cheque proibido – motivo 20/25/28/30 ou 35</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="45">
				<xs:annotation>
					<xs:documentation>Falta assinatura do emitente no cheque</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="46">
				<xs:annotation>
					<xs:documentation>Endereço do emitente no cheque igual ao do banco pagador</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="47">
				<xs:annotation>
					<xs:documentation>Falta o motivo da devolução no cheque ou motivo ilegível</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="48">
				<xs:annotation>
					<xs:documentation>Falta assinatura do sacador no título</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="49">
				<xs:annotation>
					<xs:documentation>Nome do apresentante não informado/incompleto/incorreto</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="50">
				<xs:annotation>
					<xs:documentation>Erro de preenchimento do título</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="51">
				<xs:annotation>
					<xs:documentation>Título com direito de regresso vencido</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="52">
				<xs:annotation>
					<xs:documentation>Título apresentado em duplicidade</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="53">
				<xs:annotation>
					<xs:documentation>Título já protestado</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="54">
				<xs:annotation>
					<xs:documentation>Letra de Câmbio vencida – falta aceite do pagador</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="55">
				<xs:annotation>
					<xs:documentation>Título – falta tradução por tradutor público</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="56">
				<xs:annotation>
					<xs:documentation>Falta declaração de saldo assinada no título</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="57">
				<xs:annotation>
					<xs:documentation>Contrato de Câmbio – falta conta gráfica</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="58">
				<xs:annotation>
					<xs:documentation>Ausência do Documento Físico</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="59">
				<xs:annotation>
					<xs:documentation>Pagador Falecido</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="60">
				<xs:annotation>
					<xs:documentation>Pagador Apresentou Quitação do Título</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="61">
				<xs:annotation>
					<xs:documentation>Título de outra jurisdição territorial</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="62">
				<xs:annotation>
					<xs:documentation>Título com emissão anterior à concordata do pagador</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="63">
				<xs:annotation>
					<xs:documentation>Pagador consta na lista de falência</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="64">
				<xs:annotation>
					<xs:documentation>Apresentante não aceita publicação de edital</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="65">
				<xs:annotation>
					<xs:documentation>Dados do sacador em branco ou inválido</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="66">
				<xs:annotation>
					<xs:documentation>Titulo sem autorização para protesto por edital</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="67">
				<xs:annotation>
					<xs:documentation>Valor divergente entre título e comprovante</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="68">
				<xs:annotation>
					<xs:documentation>Condomínio não pode ser protestado para fins falimentares</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="69">
				<xs:annotation>
					<xs:documentation>Vedada a intimação por edital para protesto falimentar</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="70">
				<xs:annotation>
					<xs:documentation>Dados do Beneficiário em branco ou inválido</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="71">
				<xs:annotation>
					<xs:documentation>CNPJ/CPF do beneficiário incompatível com a espécie</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="72">
				<xs:annotation>
					<xs:documentation>Rua incorreta</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="73">
				<xs:annotation>
					<xs:documentation>Apartamento incorreto</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="74">
				<xs:annotation>
					<xs:documentation>Bloco incorreto</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="98">
				<xs:annotation>
					<xs:documentation>Falta de tempo hábil para recolhimento do pagamento</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation>Outros</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipo_apresentante">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation>Banco</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Empresa</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Condominio</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Governo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>Particular</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="qualifica">
		<xs:sequence>
			<xs:element name="nome">
				<xs:annotation>
					<xs:documentation>Nome completo</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="150"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="CPF" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Numero federal de identificação de pessoa fisica</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:whiteSpace value="preserve"/>
							<xs:maxLength value="11"/>
							<xs:pattern value="[0-9]{11}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CNPJ" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Numero federal de identificação de pessoa juridica</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:whiteSpace value="preserve"/>
							<xs:maxLength value="14"/>
							<xs:pattern value="[0-9]{14}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="enderecos">
		<xs:sequence>
			<xs:element name="endereco" type="endereco" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="total" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation>Total de endereços</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="devedor">
		<xs:complexContent>
			<xs:extension base="qualifica">
				<xs:sequence>
					<xs:element name="intimado" type="xs:boolean" default="false"/>
					<xs:element name="edital" type="xs:boolean" default="false" minOccurs="1" maxOccurs="1"/>
					<xs:element name="edital_motivo">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="200"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="enderecos" type="enderecos" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="sequencia" type="xs:int" use="required">
					<xs:annotation>
						<xs:documentation>Apenas um sequenciador para garantir a ordem</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cedente">
		<xs:complexContent>
			<xs:extension base="qualifica">
				<xs:sequence>
					<xs:element name="enderecos" type="enderecos" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sacador">
		<xs:complexContent>
			<xs:extension base="qualifica">
				<xs:sequence>
					<xs:element name="enderecos" type="enderecos" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="custa_online">
		<xs:sequence>
			<xs:element name="codigo">
				<xs:annotation>
					<xs:documentation>Codigo dos custos cadastrados na tabela de emolumentos</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="quantidade">
				<xs:annotation>
					<xs:documentation>Quantidade de atos praticados por codigo da tabela de emolumentos</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="anuencia">
		<xs:sequence>
			<xs:element name="flag" type="xs:boolean" default="false" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Aponta se existe anuencia registrada no cartorio para este título.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="origem" type="anuencia_origem" minOccurs="0" maxOccurs="1"/>
			<xs:element name="origem_datahora" type="data" minOccurs="0" maxOccurs="1"/>
			<xs:element name="apresentante_permitido" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sacador_permitido" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="cedente_permitido" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="endereco">
		<xs:sequence>
			<xs:element name="endereco" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="complemento" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="cep" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="bairro" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="cidade" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="uf" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="uf"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="sequencia" type="xs:int" use="optional"/>
	</xs:complexType>
	<xs:complexType name="contrato">
		<xs:sequence>
			<xs:element name="operacao">
				<xs:annotation>
					<xs:documentation>Identificar o numero da operacao</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="identificador">
				<xs:annotation>
					<xs:documentation>Identificar o numero do contrato</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="parcela">
				<xs:annotation>
					<xs:documentation>Identificar o numero da parcela do contrato</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tipo">
				<xs:annotation>
					<xs:documentation>Identificar o tipo do contrato</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="titulo">
		<xs:sequence>
			<xs:element name="cedente" type="cedente" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sacador" type="sacador" minOccurs="1" maxOccurs="1"/>
			<xs:element name="nosso_numero" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numero que identifica a cobranca</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="especie" type="especie_titulo" minOccurs="1" maxOccurs="1"/>
			<xs:element name="numero_titulo" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numero que identifica o titulo do credor</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="data_emissao" type="data"/>
			<xs:element name="data_vencimento" type="data"/>
			<xs:element name="tipo_moeda" type="tipo_moeda"/>
			<xs:element name="valor" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0.01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="saldo" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0.01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="praca_protesto">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- ???? -->
			<xs:element name="endosso" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="G">
							<xs:annotation>
								<xs:documentation>Cedente igual ao Sacador</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="H">
							<xs:annotation>
								<xs:documentation>Cedente diferente do Sacador</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tipo_endosso" type="tipo_endosso" minOccurs="1" maxOccurs="1"/>
			<xs:element name="aceite" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="A">
							<xs:annotation>
								<xs:documentation>Aceito</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="N">
							<xs:annotation>
								<xs:documentation>Não aceito</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="devedores" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Devedores relacionados ao titulo</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="devedor" type="devedor" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="total" use="required">
						<xs:annotation>
							<xs:documentation>Total de devedores</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="data_apresentacao" type="data" minOccurs="1" maxOccurs="1"/>
			<xs:element name="protocolo" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="data_protocolo" type="data" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ocorrencia" type="ocorrencia" minOccurs="1" maxOccurs="1"/>
			<xs:element name="data_ocorrencia" type="data" minOccurs="1" maxOccurs="1"/>
			<xs:element name="irregularidades" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="codigo" type="irregularidade_codigo" minOccurs="1" maxOccurs="9"/>
					</xs:sequence>
					<xs:attribute name="total" type="xs:int" use="required">
						<xs:annotation>
							<xs:documentation>Total de irregularidades</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="contrato" type="contrato" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Informacoes de operacoes do proprio banco e letra de cambio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tipo_protesto" type="tipo_protesto" minOccurs="0"/>
			<xs:element name="motivo_protesto" type="motivo_protesto" minOccurs="0"/>
			<xs:element name="outras_despesas" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de despesas extraordinarias</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:float">
						<xs:minInclusive value="0.01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tipo_livro" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo do livro de protesto</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="num_livro" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numero do livro do protesto</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="99999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="num_folha" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numero da folha do livro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="acervo_herdado" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="acervo_cartorio" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numero do cartório do qual o acervo for herdado</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="data_averbacao" type="data" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dados_cancelamento" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="faixa_valor_protestado">
							<xs:annotation>
								<xs:documentation>Faixa do título na tabela de valores de cancelamento (Emolumento, Taxas e ISS)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="custas_online" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="custa_online" type="custa_online" minOccurs="1" maxOccurs="9"/>
								</xs:sequence>
								<xs:attribute name="total" type="xs:int" use="required">
									<xs:annotation>
										<xs:documentation>Total de registros de custos online</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="anuencia" type="anuencia" minOccurs="1" maxOccurs="1"/>
			<xs:element name="microempresa" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1"/>
			<xs:element name="instrumento_eletronico" type="xs:base64Binary" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Documento PDF do instrumento eletronico assinado pelo cartório.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required">
			<xs:annotation>
				<xs:documentation>Chave unica</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{1,}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="apresentante">
		<xs:complexContent>
			<xs:extension base="qualifica">
				<xs:sequence>
					<xs:element name="tipo_apresentante" type="tipo_apresentante"/>
					<xs:element name="titulos">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="titulo" minOccurs="1" maxOccurs="unbounded">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="titulo"/>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="total" type="xs:int" use="required">
								<xs:annotation>
									<xs:documentation>Total de titulos</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="enderecos" type="enderecos" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="codigo" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="3"/>
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="estados">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="estado" minOccurs="1" maxOccurs="27">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cartorios">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="cartorio" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="apresentantes">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="apresentante" minOccurs="1" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:complexContent>
																			<xs:extension base="apresentante"/>
																		</xs:complexContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="total" type="xs:int" use="required">
																<xs:annotation>
																	<xs:documentation>Total de apresentantes</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="codigo" type="xs:string" use="required"/>
												<xs:attribute name="comarca" type="xs:int" use="required">
													<xs:annotation>
														<xs:documentation>Codigo IBGE da comarca</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="total" type="xs:int" use="required">
										<xs:annotation>
											<xs:documentation>Total de cartórios</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="uf" use="required">
							<xs:annotation>
								<xs:documentation>Unidade federativa.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="uf"/>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="total" use="required">
				<xs:annotation>
					<xs:documentation>Total de estados</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1">
							<xs:annotation>
								<xs:documentation>Mínimo de estados</xs:documentation>
							</xs:annotation>
						</xs:minInclusive>
						<xs:maxInclusive value="27">
							<xs:annotation>
								<xs:documentation>Máximo de estados</xs:documentation>
							</xs:annotation>
						</xs:maxInclusive>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="versao" type="versao" use="required">
				<xs:annotation>
					<xs:documentation>Versão do XML</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
